#companyTable > tbody > tr > td > label {
    margin: 5px 0 0 5px;
}

.modal-title > label {
    margin-right: 5px;
}

.btn-add-company {
    margin-bottom: 5px;
}

#modalButtonLabel {
    margin: 0px;
}